.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards{
    width: 20%;
    height: 380px;
    border: 2px solid black;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: space-between;
}

.fa-solid{
    width: 50px;
    height: 50px;

}



.card{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.circle{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -70%;
    background: white;
    text-align: center;
    display: flex;
}

h2{
    text-align: center;
}


p{
    width: 100%;
    height:150px;
    margin: 0;
    text-align: center;
}

.button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}