

.cards {

    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.card1{
    border: 1px solid white;
    box-sizing: border-box;
    width: 480px;
    height: 230px;
    background: #2269ba;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    border: 5px solid white;

}

.card2 {
    border: 5px solid white;
    box-sizing: border-box;
    width: 163px;
    height: 200px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3{
    border: 5px solid white;
    box-sizing: border-box;
    width: 163px;
    height: 200px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card4{
    border: 5px solid white;
    box-sizing: border-box;
    width: 163px;
    height: 200px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card5{
    border: 1px solid white;
    box-sizing: border-box;
    width: 480px;
    height: 480px;
    background: #2269b9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.description{
    color: #c1daeb;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, sans-serif;
}